#text {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
button {
  margin-top: 25px;
  border-radius: 10px;
  font-size: 15px;
}
#content {
  font-size: 30px;
  width: 750px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* display: none; */
}
#btn {
  font-size: 30px;
}
#neveshte {
  font-size: 35px;
  width: 500px;
  height: 320px;
  font-family: Verdana, Geneva, Tahoma, sans-serifF;
  overflow: hidden;
}
#bezan {
  font-size: 50px;
  border: 6px rgb(0, 8, 255) solid;
  border-bottom-left-radius: 40%;
}
#myList{
  font-size: 30px;
}